@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: #FFF;
    background-color: #000;

}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}

a a:hover,
a:visited {
    text-decoration: none;
    color: unset;
}


#sales {
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    

}

